<h3>Listings</h3>

<ul>
  {{#each sortedByDate as |listing|}}
  <li>
    {{#link-to 'listing' listing.id}}<img src={{listing.image}} class="icon" /><br>{{listing.date}}<h4>{{listing.title}}</h4>{{/link-to}}
  </li>
  {{/each}}
</ul>
