.icon {
  width: 100px;
}

.jumbotron {
  background-image: url("../assets/punker-bw.jpeg");
  height: 250px;
  opacity: 0.9;
}

.sort-listing{
  padding-bottom: 20px;
}

#title {
  font-size: 95px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40px;
}

h1 a {
    color: #0099cc;
}

h1 a:hover{
  color: #99e6ff;
  text-decoration: none;
}




.category-listing {
  padding-left: 10px;
}

.new-listing {
  margin-top: 20px;
}

.single-listing {
  padding-left: 10px;
}

img {
  width: 600px;
}

.new-listing-button {
  padding-top: 15px;
}
.btn-default {
  background-color: #EEA800;
  color: #FFF;
}

.category-list {
  padding-top: 5px;
  padding-left: 20px;
}

.glyphicon {
  font-size: 18px;
  padding-right: 5px;
}

ul {
  list-style-type: none;
}
