<div class="col-md-6">
  <div class="category-listing">
    <h2>{{#link-to 'index'}}Categories{{/link-to}} / {{model.name}}</h2>
    <hr>
    {{single-category category=model}}
  </div>
</div>

<div class="col-md-6">
  <div class="new-listing">
    {{new-listing saveListing="saveListing" category=model}}
  </div>
</div>
