<div class="category-list">
<h1>Categories</h1>
<hr>
{{#each model.categories as |category|}}
  {{#link-to 'category' category.id}}
    {{category-tile category=category}}
  {{/link-to}}
{{/each}}
</div>
